.animation {
    display: inline-block;
    width: 100px;
    height: 100px;
  }
  .animation:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #22c55e;
    border-color: #22c55e transparent #22c55e transparent;
    animation: spinning 1.2s linear infinite;
  }
  @keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  